 * {
  margin: 0;
}

header{
  background-color: #0d7ca8;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;

}
article.journal-entry {
  display: flex;
  margin-bottom: 36px;
  margin-top: 30px;
  width: 50%;
}
article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
  margin-left: 30px;
}
.main-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}
.info-container a{
  display: block;
  text-decoration: none;
  color: black;
}
.info-container  * {
  margin-bottom: 10px;
}



  

